html {
    scroll-behavior: smooth;
}

body {
    background-color:white;
    color:#666666;
    font:normal 2vw 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;

}

.container .main-body img{
    width: 25vw;
    height: 27vw;
    border-radius: 50%;  
    box-shadow: -10px 10px 20px #888888;
    margin-left: 3vw;  
}

.main-body {
    display: flex;
    justify-content: space-between;
    background-color:cornsilk;
    margin: 0;
    padding: 50px;
}

.main-body #img{
    flex: 1;
}

.main-body p{
    flex: 4;
    margin-left: 8vw;
}
.main-header{
    margin-left: 5%;
}
.main-header h1{
    margin-bottom: 0px; 
    
}

.main-header h3{
    margin-top: 0px; 
}


.main-header #navbar ul{
    float: right;
    padding: 0;
    list-style: none;
    margin-right: 3vw;

}

.main-header #navbar li{
    display: inline;
}

.main-header #navbar ul li a:hover{
    transition-delay: all 0.4s ease;
    -webkit-transition-delay: all 0.4s ease;
    font-size: 2.5vw;
}

.main-header #navbar a{
    color:#666666;
    text-decoration: none;
    font-size: 1.8vw;
    padding-left: 2vw;

}

.main-header #navbar a:hover{
    color:black;
}

#project {
    text-align: center;
    text-shadow: 2px 5px 8px #888888;
    font-family: 'Noto Serif', serif;
    padding: 4vw 0vw;
    margin-left: 2vw;
}

.projects-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vw 2vw;
    text-align: center;
}

.column img{
   
}

.button {
    border: none;
    outline: none;
    border-radius: 60px;
    color:#666666;
    padding: 1vw 8vw;
    text-align: center;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 2px 10px 30px;
    cursor: pointer;
    box-shadow: 5px 10px 8px #888888;
  }
  
  .button1 {background-color: #e0e0eb} /* Green */
  .button2 {background-color: #e0e0eb} /* Blue */

.column {
    margin-top:2vw;
    margin-bottom: 2vw;
    margin-left:2vw;
    margin-right:2vw;
}

.titles {
    margin-left: 4vw;
}
.pw2{
    margin-top: 50px;
}

.projects-wrapper img{
    border-radius: 10%;
}


.projects-wrapper img{
    width: 20vw;
    height: 20vw;
    vertical-align: middle;
}

.resume-main {
    background-image: url("../images/resume-bg.jpg");
    padding: 4vw 4vw;
    margin: 10vw 0vw;
    margin-bottom: 0;
}

.resume-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2vw;
    column-gap: 2vw;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    padding: 4vw 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
    margin: 5vw 10vw;
    margin-bottom: 5vw;
}

.resume-wrapper img{
    width: 6vw;
    height: 6vw;

}

#tech-skills h1{
    font: normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    color: whitesmoke;
    text-align: center;
}

.resume-button-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}
.resume-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    font: normal 2vw 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;;
    border-style: solid;
    border-width: 2px;
    padding: 2vw 4vw;
    margin: 4vw 0vw;
}

.footer {
    margin-top: 7vw;
    display: flex;
    justify-content:space-between;
    background-color: #e6e6e6;
    padding: 1vw;
    
}

.icon-details{
    float: left;
    margin-top: 1vw;
    width: 4vw;
    height: 4vw;
}
.credits{
    width: 100%;
    margin: 0;
}

#credit-icons{
    font: small-caption;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-bottom: 2vw;
}
#credit-icons a{
    margin-left: 0.5vw;
}

.box{
    padding: 2vw 2vw 2vw 2vw;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
    background-color: #f2f2f2;
}